*{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
	width: 90%;
	margin: auto;
	padding: 20px;
}
table{	
	margin: auto;
	border-collapse: collapse;
	background-color: #fbfcd2;
}
caption{
	background-color: #f53636;
	padding: 14px 0px;
	color: white;
	font-size: 22px;

}
table th{
	padding: 8px 10px;
	background-color: #803016;
	color: white;
}
table td{
	/*padding: 0px 150px 60px 0px;*/
	width: 220px;
	height: 100px;
	margin: 0px;
	padding: 2px;
	text-align: left;
	margin-top: 0px;
	text-align: left;
	vertical-align: top;
}
table th, td{
	border: 2px solid white;
	border-style: solid;

}
.note-red{
	
	box-shadow: inset 0px 0px 0px 2px red;
	border-radius: 4px;
	padding-left: 3px;
	color: #f53636;
	background-color: rgb(252, 141, 141,0.6);
	
}
p{
	text-align: center;
	padding: 0px;
}

ul{
	margin: 0px 20px 0px 0px;	
}
.red{
	color: #f53636;
	box-sizing: border-box;
	background-repeat:no-repeat;
    background-size:cover;
}
.empty{
	background-color: #fff1ad;
}
